<main>
  <div class="first">
    <img
      src="../../../assets/icons/android-icon-72x72.png"
      alt="JammIn Main Page Icon"
    />
    <span class="bold-text">JammIn</span>
    <span class="normal-text small">JammIn in currently invite only</span>
    <button [routerLink]="'login'">Back to Login</button>
    <span class="normal-text"
      >Sorry, {{ user.displayName }} JammIn is currently in invite only mode and
      we can't find you in the invitees. Don't worry we have your email address
      and will get back to you as soon as possible.
    </span>
    <span class="bold-text small">Wake me up when its all over 🎉🎶</span>
    <span class="xs-small end"
      >2020 - {{ currentYear }} JammIn, All rights reserved.</span
    >
  </div>
  <div class="second"></div>
</main>
