<main>
  <div class="first">
    <img
      src="../../../assets/icons/ms-icon-150x150.png"
      alt="JammIn Main Page Icon"
      class="logo"
    />
    <span class="bold-text">Log In</span>
    <span class="normal-text small">To continue, sign in to JammIn</span>
    <button GoogleSignIn>
      <img
        width="20px"
        style="margin-right: 12px"
        alt="Google
      sign-in"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
      />Sign In with Google
    </button>
    <span class="normal-text"
      >Ad free music is what we all deserve. JammIn proudly presents you an ad
      free experience till the end of time.
    </span>
    <span class="bold-text small">Wake me up when its all over 🎉🎶</span>
    <span class="xs-small end"
      >2020 - {{ currentYear }} JammIn, All rights reserved.</span
    >
  </div>
  <div class="second"></div>
</main>
