<div class="playerMain">
  <div class="nowPlaying">
    <img [src]="url | safeurl" [alt]="title" (click)="isFullScreen = true" />
    <span class="title">
      <span class="name">{{ title | titlePipe }}</span>
      <span class="artist">
        <span
          *ngFor="let art of artist"
          [routerLink]="['artist', art.url]"
          class="comma"
          >{{ art.name | titlePipe }}</span
        >
      </span>
    </span>
    <span class="like" title="Add to Liked Songs">
      <like [key]="data"></like>
    </span>
  </div>
  <div class="controls">
    <span class="buttons">
      <span title="Shuffle" [class.active]="isShuffle" (click)="shuffle()"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"
          />
          <path
            d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"
          /></svg
      ></span>
      <span title="Previous Song" (click)="next(-1)"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          height="11"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path d="M4 2v20h-2v-20h2zm18 0l-16 10 16 10v-20z" /></svg
      ></span>
      <span (click)="playPause()" class="playPause">
        <span class="loader" *ngIf="isBuffering"
          ><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="45" /></svg></span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          class="play-btn"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
          *ngIf="!isPlaying"
          title="Play Song"
        >
          <path
            d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
          />
        </svg>
        <svg
          title="Pause Song"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          class="play-btn"
          *ngIf="isPlaying"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"
          /></svg
      ></span>
      <span title="Next Song" (click)="next(1)"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="11"
          fill="currentColor"
          height="11"
          viewBox="0 0 24 24"
        >
          <path d="M20 22v-20h2v20h-2zm-18 0l16-10-16-10v20z" /></svg
      ></span>
      <span title="Repeat" [class.active]="isRepeat" (click)="repeat()"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
          />
          <path
            fill-rule="evenodd"
            d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
          /></svg
      ></span>
    </span>
    <span class="timer">
      <span class="Stime" title="Elaplsed Time">{{ current | time }}</span>
      <span
        class="progress"
        id="progress"
        (dragover)="dragEvent($event)"
        (drop)="dragEvent($event)"
        (click)="dragEvent($event)"
      >
        <span class="progress_bar"></span>
        <span class="progress_fill" [style.width]="playerProgress"></span>
        <span
          class="progress_dot"
          [style.left]="playerProgress"
          draggable="true"
        ></span>
        <audio
          #source
          [src]="media | safeurl"
          preload="metadata"
          *ngIf="!isFirstLoad"
        ></audio>
        <audio
          #source
          [src]="media | safeurl"
          preload="metadata"
          autoplay
          *ngIf="isFirstLoad"
        ></audio>
      </span>
      <span class="Etime" title="Duration">{{ duration | time }}</span>
    </span>
  </div>
  <div class="misc">
    <span
      class="icon"
      [routerLink]="['/lyrics']"
      title="Lyrics"
      [routerLinkActive]="['active']"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-music-note"
        viewBox="0 0 16 16"
      >
        <path
          d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"
        />
        <path fill-rule="evenodd" d="M9 3v10H8V3h1z" />
        <path
          d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"
        /></svg
    ></span>
    <span
      title="Queue"
      class="icon"
      [routerLink]="['/queue']"
      [routerLinkActive]="['active']"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        /></svg
    ></span>
    <span class="volume" (click)="mute()" title="Volume">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        fill="currentColor"
        *ngIf="checkVol(volume) == 0 || isMute"
        viewBox="0 0 16 16"
      >
        <path
          d="M6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06zm7.137 2.096a.5.5 0 0 1 0 .708L12.207 8l1.647 1.646a.5.5 0 0 1-.708.708L11.5 8.707l-1.646 1.647a.5.5 0 0 1-.708-.708L10.793 8 9.146 6.354a.5.5 0 1 1 .708-.708L11.5 7.293l1.646-1.647a.5.5 0 0 1 .708 0z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        *ngIf="checkVol(volume) < 71 && checkVol(volume) > 25 && !isMute"
        height="18"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M9 4a.5.5 0 0 0-.812-.39L5.825 5.5H3.5A.5.5 0 0 0 3 6v4a.5.5 0 0 0 .5.5h2.325l2.363 1.89A.5.5 0 0 0 9 12V4zm3.025 4a4.486 4.486 0 0 1-1.318 3.182L10 10.475A3.489 3.489 0 0 0 11.025 8 3.49 3.49 0 0 0 10 5.525l.707-.707A4.486 4.486 0 0 1 12.025 8z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        *ngIf="checkVol(volume) > 70 && !isMute"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.536 14.01A8.473 8.473 0 0 0 14.026 8a8.473 8.473 0 0 0-2.49-6.01l-.708.707A7.476 7.476 0 0 1 13.025 8c0 2.071-.84 3.946-2.197 5.303l.708.707z"
        />
        <path
          d="M10.121 12.596A6.48 6.48 0 0 0 12.025 8a6.48 6.48 0 0 0-1.904-4.596l-.707.707A5.483 5.483 0 0 1 11.025 8a5.483 5.483 0 0 1-1.61 3.89l.706.706z"
        />
        <path
          d="M8.707 11.182A4.486 4.486 0 0 0 10.025 8a4.486 4.486 0 0 0-1.318-3.182L8 5.525A3.489 3.489 0 0 1 9.025 8 3.49 3.49 0 0 1 8 10.475l.707.707zM6.717 3.55A.5.5 0 0 1 7 4v8a.5.5 0 0 1-.812.39L3.825 10.5H1.5A.5.5 0 0 1 1 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        *ngIf="checkVol(volume) <= 25 && checkVol(volume) > 0 && !isMute"
        height="18"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M10.717 3.55A.5.5 0 0 1 11 4v8a.5.5 0 0 1-.812.39L7.825 10.5H5.5A.5.5 0 0 1 5 10V6a.5.5 0 0 1 .5-.5h2.325l2.363-1.89a.5.5 0 0 1 .529-.06z"
        />
      </svg>
    </span>
    <span
      class="vol progress"
      id="volume"
      (dragover)="dragEventVol($event)"
      (drop)="dragEventVol($event)"
      (click)="dragEventVol($event)"
    >
      <span class="progress_bar"></span>
      <span class="progress_fill" [style.width]="volume"></span>
      <span class="progress_dot" [style.left]="volume" draggable="true"></span>
    </span>
  </div>
  <div class="mobile-controls">
    <span class="progress" id="progress">
      <span class="progress_bar"></span>
      <span class="progress_fill" [style.width]="playerProgress"></span>
    </span>
    <span (click)="playPause()" class="playPause">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        title="Play"
        class="play-btn"
        height="22"
        fill="currentColor"
        viewBox="0 0 16 16"
        *ngIf="!isPlaying"
      >
        <path
          d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="22"
        height="22"
        title="Pause"
        class="play-btn"
        *ngIf="isPlaying"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"
        /></svg
    ></span>
  </div>
</div>
<div class="fullscreen_player" [@openPlayer]="isFullScreen ? 'open' : 'close'">
  <div class="close" (click)="isFullScreen = false">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-chevron-down"
    >
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </div>
  <div class="controls_block">
    <div class="padded">
      <img [src]="url | safeurl" [alt]="title" class="img" />
      <span class="details"
        ><span class="title">
          <span class="name">{{ title | titlePipe }}</span>
          <span class="artist">
            <span
              *ngFor="let art of artist"
              [routerLink]="['artist', art.url]"
              class="comma"
              >{{ art.name | titlePipe }}</span
            >
          </span>
        </span>
        <span class="overall">
          <span class="like" title="Add to Liked Songs">
            <like [key]="data"></like
          ></span>
          <span class="more"
            ><svg
              viewBox="0 0 24 24"
              width="24"
              height="24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="css-i6dzq1"
            >
              <circle cx="12" cy="12" r="1"></circle>
              <circle cx="12" cy="5" r="1"></circle>
              <circle cx="12" cy="19" r="1"></circle></svg></span></span
      ></span>
      <span class="controls buttons">
        <span title="Shuffle" [class.active]="isShuffle" (click)="shuffle()"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.624 9.624 0 0 0 7.556 8a9.624 9.624 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.595 10.595 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.624 9.624 0 0 0 6.444 8a9.624 9.624 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5z"
            />
            <path
              d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192zm0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192z"
            /></svg></span
        ><span title="Previous Song" (click)="next(-1)"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            height="11"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path d="M4 2v20h-2v-20h2zm18 0l-16 10 16 10v-20z" /></svg
        ></span>
        <span (click)="playPause()" class="playPause">
          <span class="loader" *ngIf="isBuffering"
            ><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
              <circle cx="50" cy="50" r="45" /></svg></span
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            class="play-btn"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
            *ngIf="!isPlaying"
            title="Play Song"
          >
            <path
              d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
            />
          </svg>
          <svg
            title="Pause Song"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            class="play-btn"
            *ngIf="isPlaying"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 3.5A1.5 1.5 0 0 1 7 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5zm5 0A1.5 1.5 0 0 1 12 5v6a1.5 1.5 0 0 1-3 0V5a1.5 1.5 0 0 1 1.5-1.5z"
            /></svg
        ></span>
        <span title="Next Song" (click)="next(1)"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="11"
            fill="currentColor"
            height="11"
            viewBox="0 0 24 24"
          >
            <path d="M20 22v-20h2v20h-2zm-18 0l16-10-16-10v20z" /></svg
        ></span>
        <span title="Repeat" [class.active]="isRepeat" (click)="repeat()"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="14"
            height="14"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"
            />
            <path
              fill-rule="evenodd"
              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"
            /></svg></span
      ></span>
      <span class="timer">
        <span class="Stime" title="Elaplsed Time">{{ current | time }}</span>
        <span
          class="progress"
          id="progress"
          (dragover)="dragEvent($event)"
          (drop)="dragEvent($event)"
          (click)="dragEvent($event)"
        >
          <span class="progress_bar"></span>
          <span class="progress_fill" [style.width]="playerProgress"></span>
          <span
            class="progress_dot"
            [style.left]="playerProgress"
            draggable="true"
          ></span>
        </span>
        <span class="Etime" title="Duration">{{ duration | time }}</span>
      </span>
    </div>
  </div>
  <div class="lyrics__queue">
    <div class="padded">{{ queue | json }}</div>
  </div>
</div>
