<div class="search__result">
  <div class="mobile-search">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-search"
    >
      <circle cx="11" cy="11" r="8"></circle>
      <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
    </svg>
    <input
      type="text"
      (keyup)="handleChange($event)"
      placeholder="Search for artists, albums, songs ,or podcasts"
    />
  </div>
  <div class="results">
    <div *ngIf="!result; else resBlock" class="recents">
      <span class="title">Recent searches</span>
      <div class="results" *ngIf="history.length; else noHistory">
        <div class="item">
          <ng-container *ngFor="let h of history">
            <div class="placeholder">
              <div
                class="img"
                [routerLink]="
                  h.type !== song
                    ? ['/', h.url.split('/')[0], h.url.split('/')[1]]
                    : []
                "
                [style.background]="
                  'url(https://cdn.jammin.workers.dev/' + h.image + ')'
                "
              ></div>
              <div class="title">{{ h.name }}</div>
              <div class="music">{{ h.artist }}</div>
              <div class="type">
                <span class="tt">{{ h.type }}</span>
              </div>
              <span class="play-btn-cutom" PlayThis [url]="h.url" id="playBTN"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  title="Play"
                  class="play-btn-cutom"
                  height="22"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                  /></svg
              ></span>
            </div>
          </ng-container>
        </div>
      </div>
      <ng-template #noHistory>
        <div class="results">Your recents searches will appear here 🤷‍♂️</div>
      </ng-template>
    </div>
    <ng-template #resBlock>
      <div class="grid-template">
        <div class="topQuery" *ngIf="result?.topquery?.image['150x150']">
          <span class="title">Top Result</span>
          <span
            class="card"
            [routerLink]="
              result?.topquery.type !== song ? ['/', result?.topquery.url] : []
            "
          >
            <div class="placeholder">
              <div
                class="img"
                [style.background]="
                  'url(https://cdn.jammin.workers.dev/' +
                  result?.topquery.image['150x150'] +
                  ')'
                "
              ></div>
            </div>
            <div class="details">
              <span class="title">{{ result?.topquery.title | title }}</span>
              <span class="album">{{ result?.topquery.album | title }}</span>
              <span class="artist" *ngIf="result?.topquery.type !== 'artist'">{{
                result?.topquery.artist || result?.topquery.music
                  | maxArtist
                  | title
              }}</span>
              <span class="type"> {{ result?.topquery.type }}</span>
            </div>
          </span>
          <span
            class="play-btn-cutom"
            PlayThis
            [origin]="{
              image: result?.topquery.image['150x150'],
              name: result?.topquery.title,
              album: result?.topquery.album || '',
              artist: result?.topquery.artist || result?.topquery.music || '',
              type: result?.topquery.type,
              url: result?.topquery.url
            }"
            [url]="result?.topquery.url"
            id="playBTN"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              title="Play"
              class="play-btn-cutom"
              height="22"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
              /></svg
          ></span>
        </div>
        <div *ngIf="result?.song.length > 0" class="songsResult">
          <span class="title">Songs</span>
          <span *ngFor="let s of result?.song; let i = index" class="songs">
            <span
              class="wrapper"
              PlayThis
              [url]="s.url"
              [origin]="{
                image: s.image['150x150'],
                name: s.title,
                artist: s.singer,
                type: 'song',
                url: s.url
              }"
            >
              <span
                class="img"
                [style.background]="
                  'url(https://cdn.jammin.workers.dev/' + s.image['50x50']
                "
              ></span>
              <span class="details">
                <span>{{ s.title | title }}</span>
                <span>{{ s.singer | title }}</span>
              </span></span
            >
            <span class="actions" (click)="songPopup[i] = !songPopup[i]">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-more-horizontal"
              >
                <circle cx="12" cy="12" r="1"></circle>
                <circle cx="19" cy="12" r="1"></circle>
                <circle cx="5" cy="12" r="1"></circle>
              </svg>
            </span>
            <span class="popup">
              <app-dd [url]="s.url" [isOpen]="songPopup[i]"></app-dd>
            </span>
          </span>
        </div>
        <div *ngIf="result?.album.length > 0" class="albumResult">
          <span class="title">Albums</span>
          <span class="scrollable">
            <span *ngFor="let s of result?.album" class="album">
              <span
                class="img"
                [routerLink]="['/', s.url.split('/')[0], s.url.split('/')[1]]"
                [style.background]="
                  'url(https://cdn.jammin.workers.dev/' + s.image['150x150']
                "
              ></span>
              <span class="details">
                <span class="title">{{ s.title | title }}</span>
                <span class="singer">{{ s.music }}</span>
              </span>
              <span
                class="play-btn-cutom"
                PlayThis
                [url]="s.url"
                id="playBTN"
                [origin]="{
                  image: s.image['150x150'],
                  name: s.title,
                  artist: s.music,
                  type: 'album',
                  url: s.url
                }"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  title="Play"
                  class="play-btn-cutom"
                  height="22"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                  /></svg
              ></span> </span
          ></span>
        </div>
        <ng-container *ngIf="result?.artist[0]?.image['150x150']">
          <div *ngIf="result.artist.length > 0" class="albumResult">
            <span class="title">Artists</span>
            <span class="scrollable">
              <ng-container *ngFor="let s of result?.artist">
                <span class="album" *ngIf="s.image['150x150']">
                  <span
                    class="img"
                    [routerLink]="[
                      '/',
                      s.url.split('/')[0],
                      s.url.split('/')[1]
                    ]"
                    [style.background]="
                      'url(https://cdn.jammin.workers.dev/' + s.image['150x150']
                    "
                  ></span>
                  <span class="details">
                    <span class="title-artist">{{ s.title | title }}</span>
                  </span>
                  <span
                    class="play-btn-cutom"
                    PlayThis
                    [origin]="{
                      image: s.image['150x150'],
                      name: s.title,

                      type: 'artist',
                      url: s.url
                    }"
                    [url]="s.url"
                    id="playBTN"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="22"
                      title="Play"
                      class="play-btn-cutom"
                      height="22"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                      /></svg></span
                ></span> </ng-container
            ></span></div
        ></ng-container>
        <div *ngIf="result?.playlist.length > 0" class="albumResult">
          <span class="title">Playlists</span>
          <span class="scrollable">
            <span *ngFor="let s of result?.playlist" class="album">
              <span
                class="img"
                [routerLink]="['/', s.url.split('/')[0], s.url.split('/')[1]]"
                [style.background]="
                  'url(https://cdn.jammin.workers.dev/' + s.image['150x150']
                "
              ></span>
              <span class="details">
                <span class="title">{{ s.title | title }}</span>
                <span class="singer">{{ s.desc }}</span>
              </span>
              <span
                class="play-btn-cutom"
                PlayThis
                [url]="s.url"
                id="playBTN"
                [origin]="{
                  image: s.image['150x150'],
                  name: s.title,
                  artist: s.desc,
                  type: 'playlist',
                  url: s.url
                }"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  title="Play"
                  class="play-btn-cutom"
                  height="22"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                  /></svg
              ></span> </span
          ></span>
        </div>

        <div *ngIf="result?.podcast.length > 0" class="albumResult">
          <span class="title">Podcasts</span>
          <span class="scrollable">
            <span *ngFor="let s of result?.podcast" class="album">
              <span
                class="img"
                [routerLink]="[
                  '/',
                  s.url.split('/')[0],
                  s.url.split('/')[1],
                  s.url.split('/')[2]
                ]"
                [style.background]="
                  'url(https://cdn.jammin.workers.dev/' + s.image['150x150']
                "
              ></span>
              <span class="details">
                <span class="title">{{ s.title | title }}</span>
                <span class="singer">{{ s.desc }}</span>
              </span>
              <span
                class="play-btn-cutom"
                PlayThis
                [url]="s.url"
                id="playBTN"
                [origin]="{
                  image: s.image['150x150'],
                  name: s.title,
                  artist: s.desc,
                  type: 'podcast',
                  url: s.url
                }"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="22"
                  title="Play"
                  class="play-btn-cutom"
                  height="22"
                  fill="currentColor"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
                  /></svg
              ></span> </span
          ></span>
        </div>
      </div>
    </ng-template>
  </div>
</div>
