.scrollable {
  display: flex;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }
}
.search__result {
  .title {
    font-weight: 500 !important;
    font-size: 1.5rem;
  }
  .results {
    @media (max-width: 768px) {
      margin-top: 0.7rem;
      padding: 0.4rem;
    }
    .grid-template {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      div {
        padding: 0.3rem;
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 100%);
      }
      .albumResult {
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 0.5rem;
        }

        .album {
          margin: 0.3rem;
          padding: 0.3rem;
          background-color: red;
          border-radius: 5px;
          &:first-of-type {
            margin-left: 0;
          }
          &:last-of-type {
            margin-right: 0;
          }
          .img {
            width: 120px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            height: 120px;
            display: block;
          }
        }
      }
      .songsResult {
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 0.5rem;
        }
        .songs {
          padding: 0.3rem 0.4rem;
          border-radius: 5px;
          display: flex;
          // margin: 0.1rem 0;
          cursor: pointer;
          transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
          &:hover {
            background-color: #ffffff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
              0 1px 2px rgba(0, 0, 0, 0.24);
            & > .img::after {
              content: "";
              width: 40px;
              height: 40px;
              display: block;
              border-radius: 4px;
              background: #8484848f;
              background-image: url("../../../assets/play.svg");
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          .img {
            width: 40px;
            height: 40px;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            border-radius: 4px;
            margin-right: 0.4rem;
          }
          .details {
            display: flex;
            flex-direction: column;
            width: 50%;
            span {
              overflow: hidden;
              text-overflow: ellipsis;
              &:first-of-type {
                font-weight: 500;
              }
              &:last-of-type {
                font-size: 0.8rem;
              }
              word-break: break-word;
              white-space: nowrap;
            }
          }
        }
      }
      .topQuery {
        display: flex;
        flex-direction: column;
        position: relative;
        .play-btn {
          position: absolute;
          bottom: 7%;
          right: 3%;
          color: #ffffff;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          background: #1db954;
          // opacity: 0;
          transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
          &:hover > svg {
            padding: 0.57rem;
          }
          svg {
            padding: 0.5rem;
          }
          border-radius: 50%;
        }
        .card {
          margin-top: 0.5rem;
          background-color: #ffffff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          border-radius: 5px;
          cursor: pointer;
          outline: none;
          padding: 0.5rem;
          display: flex;
          .placeholder {
            width: 130px;
            height: 130px;
            .img {
              height: 120px;
              width: 120px;
              background-size: contain !important;
              border-radius: 8px;
              background-repeat: no-repeat !important;
            }
          }
          .details {
            font-size: 1rem;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            span {
              font-weight: 400;
              .artist {
                font-size: 0.75rem;
              }
              .title {
                font-weight: 500 !important;
              }
            }
            .type {
              text-transform: uppercase;
              width: fit-content;
              padding: 0.1rem 0.3rem;
              font-size: 0.6rem;
              background-color: #f1f3f6;

              border-radius: 6px;
            }
          }
        }
      }
    }
  }
  .mobile-search {
    @media (min-width: 768px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    margin: 0 0.3rem;
    svg {
      height: inherit;
      color: #909090;
      width: 1.4rem;
      background: #ffffff;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    input {
      padding: 0.2rem;
      width: 95%;
      border: none;
      height: 2rem;
      font-size: 1rem;
      font-family: inherit;
      &::before {
        content: "d";
      }
      &:focus {
        outline: none;
      }
    }
  }
}
body.dark {
  .search__result .results .grid-template .topQuery .card {
    background-color: #333333;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    &:hover {
      background-color: #4d4d4d;
    }
  }
  .search__result .results .grid-template .topQuery .card .details .type {
    background-color: #000000;
  }
  .search__result .results .grid-template .songsResult .songs:hover {
    background-color: #333333;
  }
}
