/* You can add global styles to this file, and also import other style files */
html,
body {
  font-family: "Google Sans", sans-serif;
  margin: 0;
  height: 100%;
  box-sizing: content-box;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  @media (min-width: 768px) {
    overflow: hidden;
  }
}
::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-button {
  height: 0;
}
::-webkit-scrollbar-thumb {
  background-color: #4d4d4dbe;
}
body {
  &.dark {
    background: #121212;
    color: #ffffff;
  }
  &.light {
    background: #f1f3f6;
    color: #000000;
  }
}
