div.sidenav {
  @media (max-width: 768px) {
    display: none;
  }
  div.userPlaylist {
    height: 8rem;
    overflow: auto;
    margin: 0.4rem;
    font-size: 0.9rem;
    span {
      padding: 0.3rem;
      margin: 0.1rem;
      color: #a9a9ab;
      cursor: pointer;
      outline: none;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
      // &:hover {
      //   color: #000000;
      // }
    }
  }
  div {
    display: flex;
    flex-direction: column;
    span.title {
      margin-left: 1rem;
      font-weight: 500;
      font-size: 0.9rem;
    }
    span.quicklinks {
      display: flex;
      flex-direction: column;
      margin: 0.4rem;
      font-size: 0.9rem;
      padding-bottom: 0.4rem;
      span {
        cursor: pointer;
        margin: 0.2rem 0.1rem;
        outline: none;
        box-sizing: border-box;
        height: 37px;
        border-radius: 5px;
        padding: 0.3rem;
        display: flex;
        align-items: center;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
        color: #a9a9ab;
        &.active {
          font-weight: 500;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
        }
        img,
        svg {
          margin-right: 0.8rem;
          margin-left: 0.5rem;
          width: 23px;
        }
        svg.plus {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          background-color: #ffffff;
          color: #000000;
          height: 23px;
        }
      }
    }
  }
  padding: 0.4rem;
  width: 15%;
  height: 100%;
  position: fixed;
  max-width: 250px;
  min-width: 200px;
  padding-top: 0.8rem;
  .main-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2rem;
    span {
      padding: 0.5rem;
      margin: 0.2rem;
      border-radius: 6px;
      color: #a9a9ab;
      display: flex;
      outline: none;
      cursor: pointer;
      align-items: center;
      font-size: 0.9rem;
      transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
      svg {
        margin-right: 0.8rem;
        margin-left: 0.5rem;
        &:first-of-type {
          display: block;
        }
        &:last-of-type {
          display: none;
        }
      }
      &.active {
        font-weight: 500;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        svg {
          &:first-of-type {
            display: none;
          }
          &:last-of-type {
            display: block;
          }
        }
        background-color: #ffffff;
      }
    }
  }
}
body.light div.sidenav .main-section {
  span {
    &:hover {
      color: black;
    }
    &.active {
      color: #000000;
    }
  }
}
body.dark div.sidenav .main-section {
  span {
    &:hover {
      color: #ffffff;
    }
    &.active {
      color: #ffffff;
      background-color: #333333;
    }
  }
}

body.dark {
  .bold {
    font-weight: 500;
    color: #ffffff !important;
  }
  span.quicklinks {
    border-bottom: 1px solid #a9a9ab;
    .active {
      background-color: #333333;
      color: #ffffff;
    }
    span:hover {
      color: #ffffff;
    }
  }
  div.userPlaylist {
    span:hover {
      color: #ffffff;
    }
  }
}
body.light {
  .bold {
    font-weight: 500;
    color: #000000 !important;
  }
  span.quicklinks {
    border-bottom: 1px solid #a9a9ab;
    .active {
      background-color: #ffffff;
      color: #000000;
    }
    span:hover {
      color: #000000;
    }
  }
}
